.movies__inner {
	border-radius: 20px;
	background: #232323;
	padding: 60px 70px;
}

.form {
	display: flex;
	gap: 20px;
}

.movie__input {
	width: 411px;
	border: none;
	border-bottom: 1px solid #F3F6F9;
	background-color: inherit;
	font-size: 30px;
	letter-spacing: -0.6px;
	color: #F3F6F9;
	padding-left: 15px;
	opacity: 0.5;
}

.movie__addBtn {
	height: 62px;
	width: 62px;
	border: none;
	background: url('/resources/arrow.svg') center no-repeat;
	background-color: #6532F8;
	background-repeat: no-repeat;
	border-radius: 50%;
	cursor: pointer;
}

.movies__error {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 35px;
	color: rgb(130, 157, 224);
}

.movies__error__hidden {
	display: none;
}

.movies__list {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	max-height: 300px;
	overflow-y: auto;
}

.movie {
	display: flex;
	align-items: center;
	border-radius: 10px;
	background: #3A3939;
	padding: 28px 30px 28px 20px;
}

/* checkbox */
.checkbox {
	display: flex;
	position: relative;
	width: 700px;
}

.checkbox__input {
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}

/* .movie__name {
	width: 100%;
} */

.checkbox__label {
	padding-left: 35px;
	font-size: 20px;
	color: #F3F6F9;
	font-weight: 400;
	word-wrap: break-word;
	width: 700px;
}

.checkbox__label:before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;

	border: 1px solid #F3F6F9;
	border-radius: 50px;
	opacity: 0.3;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	cursor: pointer;
}

.checkbox__label::after {
	content: '';
	display: block;
	width: 19px;
	height: 19px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
}

.checkbox__input:checked+.checkbox__label::before {
	border-radius: 50%;
	background: #6532F8;
	opacity: 0.3;
}

.close__movie {
	width: 23px;
	height: 23px;
	border: none;
	background-color: #fff;
	background: url('/resources/close.png');
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

@media (max-width: 1199px) {
	.movies__list {
		width: 100%;
	}

	.movie {
		padding: 20px;
	}

	.checkbox {
		width: 100%;
	}

	.checkbox__label {
		width: 100%;
		font-size: 18px;
	}
}

@media (max-width: 767px) {
	.checkbox__input {
		width: 360px;
		border: none;
		border-bottom: 1px solid #F3F6F9;
		background-color: inherit;
		font-size: 25px;
		letter-spacing: -0.6px;
		color: #F3F6F9;
		padding: 0 15px 15px;
		opacity: 0.5;
	}

	.movie__addBtn {
		height: 52px;
		width: 52px;
	}

	.movies__list {
		min-width: 200px;
	}

	.movie {
		padding: 15px;
	}

	.close__movie {
		width: 17px;
		height: 17px;
	}
}