@import url('/blocks/header/header.css');
@import url('/blocks/movies/movies.css');
@import url('/blocks/validation/validation.css');
@import url('/blocks/footer/footer.css');

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	background: #181818;
	font-family: "Arimo", sans-serif;
	color: #fff;
}

.container {
	width: 930px;
	margin: 0 auto;
}

@media (max-width: 1199px) {
	.container {
		width: 100%;
		padding: 0 25px;
	}
}

@media (max-width: 767px) {
	.container {
		min-width: 800px;
		padding: 0 25px;
	}
}