html {
	scroll-behavior: smooth;
}

.page {
	width: 100%;
	background: #181818;
	font-family: "Arimo", sans-serif;
	color: #fff;
}

.header {
	padding: 90px 0 30px 0;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.header__title {
	border-radius: 200px;
	border: 1px solid #6532F8;
	background: #6532F8;
	padding: 10px 22px;
	text-align: center;
	font-size: 15px;
	line-height: normal;
	letter-spacing: -0.6px;
	text-transform: uppercase;
}

.header__subtitle {
	margin-bottom: 30px;
	font-size: 120.4px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -4.817px;
}

.movies {
	border-radius: 20px;
	background: #232323;
	padding: 60px 70px;
}

.form {
	display: flex;
	gap: 20px;
}

.movies__input {
	width: 411px;
	border: none;
	border-bottom: 1px solid #F3F6F9;
	background-color: inherit;
	font-size: 30px;
	letter-spacing: -0.6px;
	color: #F3F6F9;
	padding: 0 15px 15px;
	opacity: 0.5;
}

.movies__add-btn {
	border: none;
	width: 62px;
	height: 62px;
	background: url('../resources/arrow.svg') center no-repeat;
	background-color: #6532F8;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.movies__error {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 35px;
	color: rgb(130, 157, 224);
}

.footer {
	display: flex;
	justify-content: center;
}

.footer__tg {
	padding: 15px 0 0 0;
}

.contacts__email {
	font-size: 16px;
	line-height: 28px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.5);
}

.footer__tg:hover {
	opacity: 0.5;
	transition: 0.5s;
}